<div class="container">
  <h3>Welcome to Twitter-Putter!</h3>
  <p id='welcome'> Type something you'd like to tweet--for Nathan</p>

  <form id= "tweet" action="/tweet" method="post">
    <input type='text' id='tweet_text' name="tweet_text" placeholder="tweet">
    <input id='submit_button' type="submit" value="Submit">
  </form>

</div>
